# DESCRIPTION

SFO Public Department, referred to as SFO, has captured the salary data of all its employees for the years 2011-2014. Now in 2018, the organization is facing some financial crisis. As a first step, HR wants to rationalize employee cost to save payroll budget. You have to perform data manipulation and answer the questions below:

1. How much total salary cost has increased from year 2011 to 2014?
2. Who was the top-earning employee across all the years?

**Objective:** 

Perform data manipulation and visualization techniques.

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

salaries = pd.read_csv("/home/dante/Documents/Python/Data_Science/ML_Basics/Data_Processing/Datasets/Salaries.csv")
salaries

/home/dante/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148643,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148644,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148645,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148646,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148647,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [5]:
# How much total salary cost has increased from year 2011 to 2014?
mean_yearlySalary = salaries.groupby('Year').mean() ['TotalPayBenefits']
mean_yearlySalary

Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

In [6]:
# Who was the top-earning employee across all the years?
top_earner = salaries.groupby("EmployeeName").sum() ["TotalPayBenefits"]
top_earner.sort_values(axis=0)

EmployeeName
Joe Lopez              -618.13
David P Kucia           -33.89
Mark E Laherty           -8.20
Timothy E Gibson         -2.73
Mark W Mcclure            0.00
                       ...
Richard Lee         1268668.84
Stanley Lee         1457279.68
William Wong        1459954.17
Steven Lee          1706550.76
Kevin Lee           1778487.17
Name: TotalPayBenefits, Length: 110809, dtype: float64